body {
    margin: 0;
    background-color: #f3eacd;
}

.container {
    width: 35vw;
    height: 70vh;
    background-color: #e6ae65;
    position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
    text-align: center;
    border: 5px solid #ecf5f700;
    box-sizing: border-box;
  }

  h1 {
    color: #fff2b8; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 70px;
    font-weight: bolder;
    text-shadow: 4px 0 #f1c88b, -2px 0 #fff5ca;

  }

  h2 {
    color: #fff2b8;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size:auto;
    font-weight: normal;
    text-shadow: 2px 0 #f1c88b, -0.5px 0 #fff5ca;

  }

  p {
    color: #fff2b8;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size: 30pt;
    font-weight: normal;
    text-shadow: 2px 0 #f1c88b, -0.5px 0 #fff5ca;

  }